:root {
  font-size: 62.5%;

  --ff-primary: 'Roboto', sans-serif;
  --fs-timer: clamp(8rem, 8rem + 2vw, 12.6rem);
  --bs-controls: clamp(3rem, 3rem + 3vw, 4.8rem);
  --ws-sounds: clamp(10rem, 10rem + 5vw, 13.8rem);
  --hs-sounds: clamp(11rem, 11rem + 5vw, 15.2rem);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 1.6rem;

  --fc-primary: hsla(240, 6%, 21%, 1);
  --fc-secondary: hsla(240, 9%, 89%, 1);
  --bg-sound:hsla(194, 97%, 31%, 1);
  --bg-sound-light: hsla(193, 64%, 41%, 0.534);
}

.dark-mode {
  --fc-primary: hsla(0, 0%, 100%, 1);
  --fc-secondary: hsla(240, 6%, 17%, 1);
  --bg-sound:hsla(194, 97%, 31%, 1);
  --bg-sound-light: hsla(193, 64%, 41%, 0.534);

  background-color: hsla(240, 5%, 7%, 1);
}

.page {
  max-width: 82.1rem;
  margin: 20rem auto;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 19.2rem;
}

.theme-color {
  background: transparent;

  position: fixed;
  right: 6.4rem;
  top: 6.4rem;

  cursor: pointer;
}

.hide {
  display: none;
}

#display {
  display: flex;
  flex-direction: column;
  gap: 4.8rem;
  align-items: center;
}

#timer {
  color: var(--fc-primary);
  font-size: var(--fs-timer);
  font-weight: 500;
  line-height: 14.8rem;
  font-family: var(--ff-primary);
  letter-spacing: -2px;

  display: flex;
  align-items: center;

  animation: blink 700ms;
}

#controls {
  display: flex;
  align-items: center;
  gap: 4rem;
}

#controls button {
  background: transparent;
  border: none;

  object-fit: cover;

  width: var(--bs-controls);
  height: var(--bs-controls);

  cursor: pointer;
}

#controls svg {
  width: 100%;
  height: auto;
}

button svg path {
  fill: var(--fc-primary);
}

#controls button:hover svg path {
  fill: var(--fc-secondary);
}

#music {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3.2rem;
}

#music button + button {
  margin-left: 3.2rem;
}

#music button {
  background-color: var(--fc-secondary);
  width: var(--ws-sounds);
  height: var(--hs-sounds);

  border: none;
  border-radius: 2.4rem;

  cursor: pointer;
}

.volume-range {
  appearance: none;
  background: var(--fc-primary);
  
  width: 9rem;
  height: 0.4rem;
  margin-top: 2rem;
  
  border-radius: 5px;
}

.volume-range::-webkit-slider-thumb {
  appearance: none;
  background: var(--fc-primary);
  height: 1.6rem;
  width: 1.6rem;
  border-radius: 18px;

  cursor: pointer;
}

.col-1 button:nth-child(1) {
  animation: pop 400ms;
}

.col-1 button:nth-child(2) {
  animation: pop 400ms 100ms backwards;
}

.col-2 button:nth-child(1) {
  animation: pop 400ms 200ms backwards;
}

.col-2 button:nth-child(2) {
  animation: pop 400ms 300ms backwards;
}

#music button:hover {
  background-color: var(--bg-sound-light);
}

#music .active {
  background-color: var(--bg-sound);
}

.active svg path {
  fill: white;
}

.clicked svg path {
  fill: var(--fc-secondary);
}

button:active {
  transform: scale(1.1);
}


@keyframes pop {
  0% {
    opacity: 0;
    transform: scale(0);
  }

  100% {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes blink {
  50% {
    transform: scale(1.2);
  }
}

@media (max-width: 850px) {
  .page {
    flex-direction: column;
    gap: 10rem;   
    margin: 10rem auto; 
  }

  #display {
    gap: 2rem;
  }

  #controls {
    gap: 1.7rem;
  }
}