:root {
  font-size: 62.5%;

  --ff-primary: 'Roboto', sans-serif;
  --fc-primary: hsla(240, 6%, 21%, 1);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 1.6rem;
}

.page {
  max-width: 82.1rem;
  margin: 20rem auto;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 19.2rem;
}

#display {
  display: flex;
  flex-direction: column;
  gap: 4.8rem;
  align-items: center;
}

#timer {
  color: var(--fc-primary);
  font-size: 12.6rem;
  font-weight: 500;
  line-height: 14.8rem;
  font-family: var(--ff-primary);
  letter-spacing: -2px;

  display: flex;
  align-items: center;
}

#controls {
  display: flex;
  align-items: center;
  gap: 4rem;
}

#controls button {
  background: transparent;
  border: none;

  width: 4.8rem;
  height: 4.8rem;
}

button svg path {
  fill: var(--fc-primary);
}

#music {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3.2rem;
}

#music button + button {
  margin-left: 3.2rem;
}

#music button {
  width: 13.8rem;
  height: 15.2rem;

  border: none;
  border-radius: 2.4rem;
}